body {
 background-color: white;
}
table {
  border-collapse: separate; /* border-collapse: collapse; */
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgb(255, 248, 220);
  text-align: center;
  color: black;
  border-spacing: 0;
  overflow: hidden;
  /* box-shadow: 5px 5px 10px 1px black; */
}

th {
  background-color:rgb(214, 233, 251);
  border-top: none;
}

tr {
  border: 1px solid #000;
  border-collapse: separate;
  border-radius: 10px;
}

td {
    /*border-radius: 10px;*/
}

.container {
 background-color: rgb(214, 233, 251);
width: 390px;
height: 800px;
/* 置中 */
position: absolute;
left:50%
border: 1px solid gray;


}
.fc-col-header-cell-cushion{
color:black;
}
.fc-daygrid-day-number{
color:black;
}
.fc .fc-toolbar-title {
color: gray;
font-size: 20px;
}

.fc th {
color: black;
font-size: 10px;
}

@media (max-width:300px) {
body {
 background-color: white;
}

.container {
width: 390px;
height: 800px;
position: absolute;
left:50%;
background-color: rgb(214, 233, 251);
}
.fc th {
color: black;
font-size: 10px;
}
.fc .fc-toolbar-title {
color: gray;
font-size: 20px;
}
.fc-col-header-cell-cushion{
color:black;
}
.fc-daygrid-day-number{
color:black;
}
table {
  border-collapse: separate; /* border-collapse: collapse; */
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgb(255, 248, 220);
  text-align: center;
  color: black;
  border-spacing: 0;
  overflow: hidden;
  /* box-shadow: 5px 5px 10px 1px black; */
}

th {
  background-color:rgb(214, 233, 251);
  border-top: none;
}

tr {
  border: 1px solid #000;
  border-collapse: separate;
  border-radius: 10px;
}

td {
    /*border-radius: 10px;*/
}

}
