* {
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(214, 233, 251);
  background-image: radial-gradient(rgb(210, 208, 208) 1px, transparent 0);
  background-size: 40px 40px;
}

.border-cost{
  border: 1px;
  width: 75px;
  height: 50px;
  color: white;
  border-radius: 50%;
  text-align: center;
  padding-top: 13px;
  margin-top: 20px;
  box-shadow: 0 0 3px black;
  /* border-style: outset; */
}

.button-radius{
  border: 1px;
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 50%;
}

table {
  width: 300px;
  border-collapse: separate; /* border-collapse: collapse; */
  border: 3px solid black;
  border-radius: 15px;
  background-color: rgb(255 ,255 ,240);
  text-align: center;
  color: black;
  border-spacing: 0;
  overflow: hidden;
  /* box-shadow: 5px 5px 10px 1px black; */
}

th {
  background-color: rgb(238, 233 ,233);
  border-top: none;
}

tr {
  border: 1px solid #000;
  border-collapse: separate;
  border-radius: 10px;
}

td {
    /*border-radius: 10px;*/
}

.btn-add,
.btn-add *,
.btn-add :after,
.btn-add :before,
.btn-add:after,
.btn-add:before {
  border: 0 ;
  box-sizing: border-box;
}
.btn-add {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: rgb(230, 255, 219);
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
  margin-top: 300px;
  margin-left: 200px;
}
.btn-add:disabled {
  cursor: default;
}
.btn-add:-moz-focusring {
  outline: auto;
}
.btn-add svg {
  display: block;
  vertical-align: middle;
}
.btn-add [hidden] {
  display: none;
}
.btn-add {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-add:hover {
  transform: scale(1.05);
}
.btn-add span {
  font-weight: 900;
  mix-blend-mode: difference;
}
.btn-add:before {
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s;
  width: 0;
}
.btn-add:hover:before {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

li {
  /* float: left; */
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.collapsible {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\25BC';
  font-weight: bold;
  /* float: right; */
  /* margin-left: 50px; */
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out; /*if max-height changes, then transforms the max-height from origin value to new value and process in 0.2s*/
  background-color: #f1f1f1;
  width: inherit;
}

section {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: rgb(135 ,206 ,250);
  overflow: hidden;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 1px black;
  /*text-align: center;*/
}

section .wave {
  position: absolute; /* absolute follow the space of father layer or window */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: url(wave.png);
  background-size: 1000px 100px; /* 100px is followed by the width(100px) */
}

section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 0px;
}

section .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 0px;
}

section .wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 0px;
}

@keyframes animate {

  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {

  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: -1000px;
  }
}